<div class="bg-white" id="sidebar-wrapper">

    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
        <i class="fas fa-user-secret me-2"></i> Admin Panel
    </div>

    <div class="list-group list-group-flush my-3">
        <a href="" class="list-group-item list-group-item-action bg-transparent second-text active">
            <i class="fas fa-tachometer-alt me-2"></i> Dashboard
        </a>
    </div>

    <div class="list-group list-group-flush my-3">
        <a href="/users" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fa-solid fa-users me-2"></i>Users
        </a>
    </div>
    <div class="list-group list-group-flush my-3">
        <a href="/inquiries" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fas fa-chart-line me-2"></i> Inquiries
        </a>
    </div>
    <div class="list-group list-group-flush my-3">
        <a href="" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fas fa-paperclip"></i> Analysis
        </a>
    </div>
    <div class="list-group list-group-flush my-3">
        <a href="" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fas fa-gift me-2"></i> Products
        </a>
    </div>
    <div class="list-group list-group-flush my-3">
        <a href="" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fas fa-comment-dots me-2"></i> chat
        </a>
    </div>
    <div class="list-group list-group-flush my-3">
        <a href="" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fas fa-map-marker-alt me-2"></i> outlet
        </a>
    </div>
    <div class="list-group list-group-flush my-3">
        <a href="" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold">
            <i class="fas fa-chart-line me-2"></i> Log out
        </a>
    </div>



</div>